{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
  Сменить пароль
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <h1 class="text-center login-title">Сменить пароль</h1>
        <div class="account-wall">
          <img class="profile-img" src="{% static 'images/photo.png'%}" alt="">
          <form class="form-signin" action="{% url 'auth:password_change' %}" method='post'>
            {% csrf_token %}
            <span class='input-group-addon'></span>
            {{ form.old_password }}
            <span class='input-group'></span>
            {{ form.new_password1 }}
            <span style="color: red; font-size: 11px;"><i>{{ form.new_password1.errors }}</i></span>
            <span class='input-group'></span>
            {{ form.new_password2 }}
            <span style="color: red; font-size: 11px;"><i>{{ form.new_password2.errors }}</i></span>
            <button type="submit" name="button" class="btn btn-default">Сохранить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
