{% extends 'shop/base.html'%}
{% load static %}
{% block title %}
  {{ product.name }}
{% endblock %}
{% block content %}
  <div class="product-detail">
    <div class="col-sm-4 thumbnail">
      <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.jpg'%} {% endif %}"
      class="img-responsive">
    </div>
    <div class="col-sm-8">
      <h1>{{ product.name }}</h1>
      <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
      <p class="price">
        {{ product.price }} сом.
      </p>
      <span>
        {{ product.description|linebreaks }}
      </span>
      <form action="{% url 'cart:AjaxCartAdd' product.id %}" method="post" id="cart-form">
        {{ cart_product_form }}
        {% csrf_token %}
      </form>
      <input type="submit" name="" value="Добавить в карзину" id="btn-addtocart">
    </div>
  </div>

{% endblock %}
