@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic'
* {
  margin: 0;
  padding: 0;
}
html,
body,
.wrapper {
  height: 100%;
}
.content {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 90px;
}
.footer {
  height: 80px;
  margin-top: -80px;
}

body {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
.shadow {
    box-shadow: 0 0 7px rgba(0,0,0,0.4); /* Параметры тени */
}
#content {
  min-height: 90%;
}
.top{
  padding: 20px 0;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.top-bl{
  background: #bebebe;
  padding: 15px;
}
.top-bl .cart{
  float: right;
}
#sidebar ul{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
#sidebar ul li{
  padding: 5px 10px;
}
#sidebar ul li.selected{
  background: #0095ff;
  color: white;
  border-radius: 3px;
}
#sidebar ul li.selected a{
  color: white;
}
.items{
  margin-top: 20px;
}
.item{
  text-align: center;
  margin-bottom: 30px;
}
.item a img{
  margin-bottom: 15px;
}
.product-detail{
  margin-top: 40px;
}
.price{
  font-weight: 600;
  font-size: 20px;
}
.product-detail h2{
  font-size: 18px;
}
form.add{
  margin-bottom: 10px;
}
form.add label{
  margin-right: 10px;
}
#id_quantity{
  padding: 5px 10px;
  border-radius: 3px;
}
form.add input[type="submit"]{
  background: #2a6496;
  border-radius: 3px;
  border: 0;
  padding: 5px 10px;
  color: white;
}
.table-cart{
  width: 100%;
  margin: 10px 0;
}
.cart-img{
  width: 10%;
}
th, td{
  padding: 5px;
}
thead{
  background: #2a6496;
  color: white;
}
.btn{
  background: #2a6496;
  color: white;
}
.btn-light{
  background: #808080;
}
.order-info h2{
  margin-bottom: 20px;
}
.order-form{
  margin-top: 20px;
  margin-bottom: 20px;
}
.order-form label{
  display: block;
}
.order-form input{
  width: 100%;
  padding: 5px 10px;
}
.img-responsive {
  width: 250px;
}
.footer {
	background: #2d3436;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}

.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #F5F5F5;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #F5F5F5
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}

.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}

.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
