{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" href="#">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
  <section id="header">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'shop:ProductList'%}">MYSHOP</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Поиск товаров">
                </div>
                <button type="submit" class="btn btn-default">Поиск</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Мой личный кабинет</a></li>
                <li>
                  {% with total_item=cart|length %}
                    {%if cart.get_total_price > 0%}
                      <a href="{% url 'cart:CartDetail' %}" id="total_item">Корзина: {{ cart.get_total_price }} сом.</a>
                    {% else %}
                      <a href="{% url 'cart:CartDetail' %}" id="total_item">Корзина пуста.</a>
                    {% endif %}
                  {% endwith %}
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div>
        </div><!-- /.container-fluid -->
      </nav>
    </section>
  <section id="content row" class='container'>
    {% block content %}{% endblock %}
  </section>
  <footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3> Contact </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3> Important Links </h3>
                    <ul>
                        <li> <a href="#"> Admission </a> </li>
                        <li> <a href="#"> Academic </a> </li>
                        <li> <a href="#"> Career </a> </li>
                        <li> <a href="#"> Administration </a> </li>
                        <li> <a href="#"> Notice </a> </li>
                        <li> <a href="#"> Tender </a> </li>
                        <li> <a href="login.php"> Teacher Login </a> </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3> Location </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                  </div>
              </div>
              <!--/.row-->
          </div>
          <!--/.container-->
      </div>
      <!--/.footer-->
      <div class="footer-bottom">
          <div class="container">
              <p class="pull-left"> Copyright © 2018, MYSHOP</p>
              <div class="pull-right">
                  <ul class="nav nav-pills payments">
                      <li><i class="fa fa-cc-visa"></i></li>
                      <li><i class="fa fa-cc-mastercard"></i></li>
                      <li><i class="fa fa-cc-amex"></i></li>
                      <li><i class="fa fa-cc-paypal"></i></li>
                  </ul>
              </div>
          </div>
      </div>
      <!--/.footer-bottom-->
  </footer>
  <script type="text/javascript" src="{% static 'scripts/jquery-3.3.1.js'%}"></script>
  <script type="text/javascript" src="{% static 'scripts/script.js'%}"></script>
  {% block more_scripts %}{% endblock %}
</body>
</html>
