{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" href="#">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
  <div class="wrapper">
    <div class="content">
      <section id="header">
          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="shadow">
              <div class="container">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'shop:ProductList'%}">MYSHOP</a>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form method="get" class="navbar-form navbar-left" action="{% url 'search:search' %}">
                      <div class="form-group">
                        <input type="search" name='query' class="form-control" placeholder="Поиск товаров" >
                      </div>
                      <button type="submit" class="btn btn-default">Поиск</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                      {% if username %}
                        <li id="personal_area"><a href="{% url 'auth:personal_area'%}">Мой личный кабинет</a></li>
                        <li><a href="{% url 'auth:logout' %}">Выйти</a></li>
                      {% else %}
                        <li><a href="#login-modal" data-toggle="modal">Вход</a></li>
                        <li><a href="#register-modal" data-toggle="modal">Регистрация</a></li>
                      {% endif %}
                      <li>
                        {% with total_item=cart|length %}
                          {%if cart.get_total_price > 0%}
                            <a href="{% url 'cart:CartDetail' %}" id="total_item">Корзина: {{ cart.get_total_price }} сом.</a>
                          {% else %}
                            <a href="{% url 'cart:CartDetail' %}" id="total_item">Корзина пуста.</a>
                          {% endif %}
                        {% endwith %}
                      </li>
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div>
              </div>
            </div><!-- /.container-fluid -->
          </nav>
        </section>
      <section id="content row" class='container' style="margin-top: 70px;">
        {% block content %}{% endblock %}
      </section>
    </div>

    <footer id="footer" class="footer"><!--Footer-->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2018</p>
                    <p class="pull-right">Amanbai uulu Rysbai</p>
                </div>
            </div>
        </div>
    </footer><!--/Footer-->
</div>

<!-- Modal window for login -->
<div id="login-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h1 class="text-center login-title">Вход</h1>
          <div class="account-wall">
            <img class="profile-img" src="{% static 'images/photo.png'%}" alt="">
            <form class="form-signin" action="{% url 'auth:login' %}" method='post'>
              {% csrf_token %}
              <input type="text" class="form-control" placeholder="Email" name="username" required autofocus>
              <input type="password" class="form-control" placeholder="Пороль" name="password" required>
              <a href="{% url 'auth:login' %}">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
              </a>
              <a href="#" class="pull-right need-help">Вам помочь? </a><span class="clearfix"></span>
            </form>
            {% if error_login %}
              <span style="color: red; margin: 10px">{{ error_login }}</span>
            {% endif %}
          </div>
          <a href="{% url 'auth:register' %}" class="text-center new-account" style="margin-bottom: 10px;">Создать новый аккаунт </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal window for register -->
<div id="register-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h1 class="text-center login-title">Регистрация</h1>
          <div class="account-wall">
            <img class="profile-img" src="{% static 'images/photo.png'%}" alt="">
            <form class="form-signin" action="{% url 'auth:register' %}" method='post'>
              {% csrf_token %}
              <input name="first_name" class="form-control" placeholder="Имя" required autofocus>
              <input name="username" type="email" class="form-control" placeholder="Email" required autofocus>
              <input name="password1" type="password" class="form-control" placeholder="Пороль" required>
              <input name="password2" type="password" class="form-control" placeholder="Потвердите пороль" required>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Регистрация</button>
              <a href="#" class="pull-right need-help">Вам помочь? </a><span class="clearfix"></span>
            </form>
        </div>
        <a href="{% url 'auth:login' %}" class="text-center new-account" style="margin-bottom: 10px;">У вас уже есть аккаунт? </a>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript" src="{% static 'scripts/jquery-3.3.1.js'%}"></script>
  <script type="text/javascript" src="{% static 'scripts/script.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  {% block more_scripts %}
  {% endblock %}
</body>
</html>
